body {
  background-color: #ea2027;
  font-family: "Courier New";
  color: #c8d6e5;
}

h2 {
  display: inline;
}

.btn-primary {
  border: 2px solid #333;
  background-color: #54a0ff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

#start {
  margin: 10px;
}
